.link {
        text-decoration: none;
}

.invalid input {
        border: 1px solid #b40e0e;
        background-color: #fddddd;
}

.error-text {
        color: #b40e0e;
}

body {
        background-color: hsl(0, 0%, 95%);
        font-family: 'Varela Round', sans-serif;
        text-align: center;
}

.div1 {
        white-space: pre-wrap;
}

.div12 {
        font-size: small;
}

.shai {
        height: 140px;
}

input {
        border: 1px solid gray;
        padding: 10px;
        border-radius: 5px;
}

datalist {
        margin-top: 10px;
}

button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 12px 20px;
        border-radius: 5px;
        cursor: pointer;
}

button:hover {
        background-color: #3e8e41;
}

.result {
        direction: ltr;
        font-size: large;
}