.link {
        text-decoration: none;
}

body {
        background-color: hsl(0, 0%, 95%);
        font-family: 'Varela Round', sans-serif;
        text-align: center;
}

.div1 {
        white-space: pre-wrap;
}

input {
        border: 1px solid gray;
        padding: 10px;
        border-radius: 5px;
}

datalist {
        margin-top: 10px;
}

button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 12px 20px;
        border-radius: 5px;
        cursor: pointer;
}

button:hover {
        background-color: #3e8e41;
}

.result {
        direction: ltr;
        font-size: large;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}