.footer {
       margin-top: 1rem;
       padding: 1rem;
       background-color: #333333;
       position: fixed;
       bottom: 0;
       left: 0;
       width: 100%;
       color: white;
}

/* just the icons */
.footer__icon {
       font-size: 2rem;
       margin-left: 1rem;
       color: white;
}

.search_me {
       margin-left: 1rem;
}

/* text and icons */
.footer__text__icon {
       display: flex;
       justify-content: center;
       align-items: center;
}

.footer__text__icon :hover {
       opacity: 0.8;
}

#copyright__data {
       font-size: smaller;
}